@font-face {
	font-family: "a시네마L.ttf";
	src: url("/cogather/CSS/a시네마L.ttf") format("truetype");
}

#myNavbar {
	color: #595959;
	font-size: 20px;
}

img.logo {
	width: 80px;
	margin-left: 10px;
}

.choice {
	padding-top: 6px;
}

.tgbar {
	margin-top: 50px;
}

#home, #navDemo {
	font-family: a시네마L;
}

#wrap {
	width: 1000px;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

.optitle {
	font-size : 23px;
	margin-top: 40px;
}

.optent {
	font-size: 17px;
	margin-right: 22px;
	margin-bottom: 22px;
}

.letters {
	font-size: 16px;
}

#pickSeat{
	margin-top:20px;
}

#onsitebtn{
	background-color: white;
	transition-duration: 0.3s;
	padding: 10px 30px 10px 30px;
	font-size: 15px;
	border: 3px solid #e7e7e7;
	border-radius : 10px;
	font-weight: bold;
}

#onsitebtn:hover{
	background-color: #e7e7e7;
}

#kakaopaybtn{
	background-color: white;
	transition-duration: 0.3s;
	padding: 10px 30px 10px 30px;
	font-size: 15px;
	border: 3px solid #3c1e1e;
	border-radius : 10px;
	color: #3c1e1e;
	font-weight: bold;
}

#kakaopaybtn:hover{
	background-color: #faff00;
}