@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

@font-face {
	font-family: 'Gugi-Regular';
	src: url(/cogather/font/Gugi-Regular.ttf) format('truetype');
}

.pimg {
	width: 80px;
	height: 80px;
}

.chatbox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px;
	overflow: auto;
}

.chatting-section {
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 50px;
	left: 0;
	right: 0;
	background-color: #ffffb3;
	border: solid #FFE650 1px;
}

#outroom {
	position: absolute; display : inline-block;
	height: 50px;
	margin: 0;
	right: 0;
	display: inline-block;
}


#enter-cnt-head {
	position: absolute;
	left: 200px;
	color: #fcdb58; 
	top: 13px;
}
#enter-cnt {
	position: absolute;
	left: 280px;
	color: #fcdb58; 
	top: 13px;
}
#room-title {
	position: absolute;
	display: inline-block;
	margin: 0 auto;
	font-family: Gugi-Regular;
	text-align:center;
	top:6px;
	color: #fcdb58;
}

.room {
	position: relative;
	height: 100%;
	width: 100%;
	min-height: 400px;
}

nav#room-menu {
	position: absolute;
	height: 50px;
	left: 0;
	right: 0;
	top: 0;
	margin: 0;
}

.content-body {
	position: absolute;
	margin: 0;
	left: 0;
	right: 0;
	bottom: 0;
	top: 50px;
}

#sg_id, #contextPath, #id {
	display: none;
}

.left {
	position: absolute;
	left: 0;
	width: 200px;
	height: 100%;
	min-height: 400px;
	overflow: hidden;
	
}

.center {
	position: absolute;
	left: 200px;
	right: 400px;
	height: 100%;
	min-height: 400px;
	min-width: 500px;
	align-items: center;
	overflow: auto;
	border: solid gray 1px;
	overflow: auto;
}

.right {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 398px;
	height: 100%;
	min-height: 400px;
	align-items: center;
	border: solid yellow 1px;
}

.left, .center, .right {
	float: left;
}

.user-list {
	margin: 5px;
	overflow: auto;
}

#message-input {
	position: absolute;
	width: 335px;
	height: 50px;
	right: 58px;
	bottom: 0;
	float: left;
	margin: 0;
}

.message-send {
	position: absolute;
	height: 50px;
	width: 58px;
	bottom: 0;
	right: 0;
	margin: 0;
}

.chat {
	list-style: none;
}

.chat-center {
	width: 80%;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 2em;
	background-color: #d3d3d1;
	margin-bottom: 5px;
	margin-left: 30px;
}

.chat-left {
	float: left;
	margin-left: -15px;
	margin-top: 5px;
	margin-bottom: 5px;
	max-width: 70%;
	border-radius: 0.5em;
	background-color: white;
}

.chat-right {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	max-width: 70%;
	border-radius: 0.5em;
	background-color: white;
	margin-bottom: 5px;
}

.clear-both {
	clear: both;
}

/* #simpleTableTitle { */
/* 	display:none; */
/* } */
.comment-icon{
	width:20px;
	margin-left:10px;
}
.write-btn{
	color: #ffffff;
	background-color: #fdca6c;
}
.board-title{
	font-family: Gugi-Regular;
	text-align: center;
}
.board-subtitle{
	font-family: Gugi-Regular;
	text-align: center;
}
.board-list{
	overflow:auto;
}
.ele-right {
	float:right;
}
.ele-left {
	float:left;
}
.blind {
	display:none;
}

/* 페이징 */
.paging-center {
    text-align: center;
}
ul.pagination{
	display:flex;
	list-style-type:none;
	justify-content: center;
	align-items: center;
	
}

ul.pagination li{
    display: inline-block;
}

ul.pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    /* border: 1px solid #ddd; */
    /* margin: 0 4px; */
    margin: 0px;
}

ul.pagination a.active {
    background-color: #fdca6c;
    color: white;
    border: 1px solid #fdca6c;
}

ul.pagination a:hover:not(.active) {background-color: #ddd;}

div#write-mode {
	display:none;
}
div#view-mode{
	display:none;
}

.writer-info img{
	width:30px;
	border-radius: 50%;
}
.content-title:hover{
	color: #fdca6c;
	cursor: pointer;
}
.article-header{
	margin-top:30px;
}