@charset "UTF-8";

html,body {
	width: 100%;
	height: 100%;
	margin: 0;
}
.pimg {
	width: 80px;
	height: 80px;
}

.chatbox {
	position: absolute;
	top: 0;
	left:0;
	right:0;
	bottom: 50px;
	overflow: auto;
}

.chatting-section {
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 50px;
	left: 0;
	right: 0;
	background-color: #ffffb3;
	border: solid #FFE650 1px;
}
#outroom{
	height: 50px;
	margin:0;
}
.room {
	position: relative;
	height: 100%;
	width: 100%;
	min-height: 400px;
}
nav#room-menu{
	position:absolute;
	height:50px;
	left:0;
	right:0;
	top:0;
	margin:0;
}
.content-body {
	position: absolute;
	margin:0;
	left:0;
	right:0;
	bottom:0;
	top:50px;
	
}

#sg_id, #contextPath, #id {
	display: none;
}



.left {
	position: absolute;
	left: 0;
	width: 200px;
	height:100%;
	min-height: 400px;
	overflow: hidden;
}
.center {
	position: absolute;
	left: 200px;
	right: 400px;
	height: 100%;
	min-height: 400px;
	align-items: center; overflow : auto;
	border: solid gray 1px;
	overflow: auto;
}
.right {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 398px;
	height: 100%;
	min-height: 400px;
	align-items: center;
	border: solid yellow 1px;
}

.left, .center, .right {
	float: left;
}

.user-list {
	margin: 5px;
	overflow: auto;
}

#message-input {
	position: absolute;
	width: 335px;
	height: 50px;
	right:58px;
	bottom:0;
	float: left;
	margin:0;
}
.message-send {
	position: absolute;
	height: 50px;
	width: 58px;
	bottom: 0;
	right:0;
	margin:0;
}
.chat {
	list-style: none;
}

.chat-center {
	width: 80%;
	text-align: center; margin-left : 30px;
	margin-right: 30px;
	margin-top: 5px; margin-bottom : 5px;
	border-radius: 2em;
	background-color: #d3d3d1;
	margin-bottom: 5px;
	margin-left: 30px;
}

.chat-left {
	float: left;
	
	margin-left: -15px;
	margin-top: 5px;
	margin-bottom: 5px;
	max-width: 70%;
	border-radius: 0.5em;
	background-color: white;
}

.chat-right {
	float: right;
	margin-right: 10px;
	margin-top: 5px; margin-bottom : 5px;
	max-width: 70%;
	border-radius: 0.5em;
	background-color: white;
	margin-bottom: 5px;
}

.clear-both {
	clear: both;
}